*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(
        to right top,
         #65dfc9,
         #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Glass{
    background: white;
    min-height: 85vh;
    width: 65%;
    background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255,255,255,0.3));
    border-radius: 3rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    padding: 30px;
    /* border:solid rgb(84, 228, 233);*/
} 

.circle1, .circle2{
    background: white;
    background: linear-gradient(
    to right bottom,
     rgba(255,255,255,0.8),
     rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 10%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}
.Namen{
    margin: 60px;
    
}

#dashboard > div {
    border: black 1px solid;
    border-radius: 1.5rem;
    text-align: center;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    height: 85vh;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item1 > h2 {
    padding: 7px;
}

.item2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.item2 > h2 {
    padding: 7px;
}


.item3 {
    grid-column-start: 4;
    grid-column-end: 6;
}

.item3 > h2 {
    padding: 7px;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item4 > h2 {
    padding: 7px;
}

.item5 {
    grid-column-start: 3;
    grid-column-end: 6;
}

.item5 > h2 {
    padding: 7px;
}

footer {
    margin-top: 12.5px;
}

header {
    margin-bottom: 12.5px;
}

section {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.Namen {
    text-align: center;
    padding: 10px 40px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: 70%;
    border-radius: 20%;
}

#logo {
    padding-left: 35%;
    border-radius: ;
    height: 200px;
}

.Informatie {
    text-align: center;
    padding: 10px 40px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    margin-right: 70%;
    margin-left: 6%;
    border-radius: 20%;
}